# Include the README and Sphinx master file
include *.md

# Include the license, checklist, requirements
include *.py
include *.txt
include CONTRIBUTING.md
include index.rst
include .gitignore
include *.yml
include *.toml
include *.ini

recursive-include doc *.md
recursive-include doc *.txt
recursive-include tests *.ini
recursive-include tests *.md
recursive-include tests *.py
recursive-include tests *.txt
